stages:
  - test

test:
  ##image: node latest
  image: cypress/included:9.5.0
  stage: test
  tags: 
    - awsgitrunner
  script:
    # install dependencies
    - npm ci
    # start the server in the background
    - npm run cy:run &
    # run Cypress tests
    - npm run e2e